--
-- PostgreSQL database dump
--

\restrict LS8LvqE73BX3IrHmJDUVeGKEnz3nXrJ6Kzsy4R9AaNBgsYkFTmAFrrYmtiw36wo

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    type character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    CONSTRAINT ck_categories_type CHECK (((type)::text = ANY ((ARRAY['portfolio'::character varying, 'programma'::character varying, 'progetto'::character varying])::text[])))
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.documents (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    template_id uuid,
    content text NOT NULL,
    field_values jsonb DEFAULT '{}'::jsonb NOT NULL,
    status character varying(50) DEFAULT 'draft'::character varying NOT NULL,
    created_by character varying(255) DEFAULT 'system'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_documents_status CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'generated'::character varying, 'published'::character varying, 'archived'::character varying])::text[])))
);


ALTER TABLE public.documents OWNER TO postgres;

--
-- Name: migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    "timestamp" bigint NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.migrations OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: pdf_jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pdf_jobs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    status character varying(50) DEFAULT 'queued'::character varying NOT NULL,
    filename character varying(500),
    unresolved_fields jsonb DEFAULT '[]'::jsonb NOT NULL,
    error_message text,
    requested_by character varying(255) DEFAULT 'system'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    started_at timestamp with time zone,
    completed_at timestamp with time zone,
    template_id uuid NOT NULL,
    field_values jsonb DEFAULT '{}'::jsonb NOT NULL,
    template_content_hash character varying(64),
    field_values_hash character varying(64),
    rendered_content_hash character varying(64),
    CONSTRAINT ck_pdf_jobs_status CHECK (((status)::text = ANY ((ARRAY['queued'::character varying, 'running'::character varying, 'completed'::character varying, 'failed'::character varying])::text[])))
);


ALTER TABLE public.pdf_jobs OWNER TO postgres;

--
-- Name: sections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sections (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    "position" integer DEFAULT 0 NOT NULL,
    category_id uuid
);


ALTER TABLE public.sections OWNER TO postgres;

--
-- Name: templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.templates (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    content_path character varying(500),
    fields jsonb DEFAULT '[]'::jsonb NOT NULL,
    created_by character varying(255) DEFAULT 'system'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.templates OWNER TO postgres;

--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: pdf_jobs PK_091af0eabc9d351f938e7eed398; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pdf_jobs
    ADD CONSTRAINT "PK_091af0eabc9d351f938e7eed398" PRIMARY KEY (id);


--
-- Name: categories PK_24dbc6126a28ff948da33e97d3b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "PK_24dbc6126a28ff948da33e97d3b" PRIMARY KEY (id);


--
-- Name: templates PK_515948649ce0bbbe391de702ae5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.templates
    ADD CONSTRAINT "PK_515948649ce0bbbe391de702ae5" PRIMARY KEY (id);


--
-- Name: migrations PK_8c82d7f526340ab734260ea46be; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT "PK_8c82d7f526340ab734260ea46be" PRIMARY KEY (id);


--
-- Name: documents PK_ac51aa5181ee2036f5ca482857c; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT "PK_ac51aa5181ee2036f5ca482857c" PRIMARY KEY (id);


--
-- Name: sections PK_f9749dd3bffd880a497d007e450; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT "PK_f9749dd3bffd880a497d007e450" PRIMARY KEY (id);


--
-- Name: categories uq_categories_type_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT uq_categories_type_name UNIQUE (type, name);


--
-- Name: idx_documents_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_documents_status ON public.documents USING btree (status);


--
-- Name: idx_documents_template_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_documents_template_id ON public.documents USING btree (template_id);


--
-- Name: idx_pdf_jobs_latest_signature; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pdf_jobs_latest_signature ON public.pdf_jobs USING btree (template_id, status, template_content_hash, field_values_hash, completed_at);


--
-- Name: idx_pdf_jobs_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pdf_jobs_status ON public.pdf_jobs USING btree (status);


--
-- Name: idx_pdf_jobs_template_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pdf_jobs_template_id ON public.pdf_jobs USING btree (template_id);


--
-- Name: documents FK_3c3bacd617c899c37223ebbb037; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT "FK_3c3bacd617c899c37223ebbb037" FOREIGN KEY (template_id) REFERENCES public.templates(id) ON DELETE SET NULL;


--
-- Name: sections FK_548214cc5980524d321b7484209; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT "FK_548214cc5980524d321b7484209" FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE CASCADE;


--
-- Name: pdf_jobs FK_cbecfddf44d904703d9f2502100; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pdf_jobs
    ADD CONSTRAINT "FK_cbecfddf44d904703d9f2502100" FOREIGN KEY (template_id) REFERENCES public.templates(id) ON DELETE CASCADE;


--
-- Name: pdf_jobs fk_pdf_jobs_template; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pdf_jobs
    ADD CONSTRAINT fk_pdf_jobs_template FOREIGN KEY (template_id) REFERENCES public.templates(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict LS8LvqE73BX3IrHmJDUVeGKEnz3nXrJ6Kzsy4R9AaNBgsYkFTmAFrrYmtiw36wo

